body {
  /*background-color: #070E0A;*/
  background-color: #0d0c1d;
}

p{
  color:white;
  font-family: 'Dosis';
}
#intro-p{
  width: 80%;
  margin: 0 auto;
}


#wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis';
  position: relative;
}

#title{
  width: 100%;
  height: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis';
}
#title h1{
  color:white;
  margin: 8px 0px;
}

#button{
  min-width: 30px;
  font-family: 'Dosis';
  background-color: #2B3A67;
  border-color: #2B3A67;
  color: white;
  letter-spacing: 0.5px;
  border-radius: 5px;
  margin: 8px;
  padding: 4px;
}
#can {
  width:100%;
  max-width: 500px;
}

#panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#birthchart-list {
  display:inline-grid;
  justify-content: center;
  align-items: center;
}
#asc{
  margin: 0 auto;
  border-radius: 2px;
  margin: 0 8px;
  padding: 8px;
  font-size: 16px;
  color: #0d0c1d;
  text-align: center;
  font-family: 'Dosis';
}
#asc div {
  display: flex;
}
.asc-option {

  line-height: 14px;
}
table {
  border-spacing: 8px;
}
.birthchart-table-data {
  border-radius: 2px;
  width: 150px;
  padding: 8px;
  font-size: 16px;
  line-height: 14px;
  color: #0d0c1d;
  text-align: center;
  font-family: 'Dosis';
}
.birthchart-table-data span,
#asc option span {
  padding-right: 4px;
}

/* COLORS */
.color-leo,
.color-sagittarius,
.color-aries{
  /*background-color: #efc9c2;*/
  background-color: white;
  border: 4px solid #bb4430;
}
.color-virgo,
.color-taurus,
.color-capricorn{
  /*background-color: #dcdcbe;*/
  background-color: white;
  border: 4px solid #646536;
}
.color-libra,
.color-gemini,
.color-aquarius{
  /*background-color: #fdebfb;*/
  background-color: white;
  border: 4px solid #f9b9f2;
}
.color-cancer,
.color-pisces,
.color-scorpio{
  /*background-color: #dbedee;*/
  background-color: white;
  border: 4px solid #7ebdc2;
}

.color-leo.active,
.color-sagittarius.active,
.color-aries.active{
  background-color: #bb4430;
}
.color-virgo.active,
.color-taurus.active,
.color-capricorn.active{
  background-color: #646536;
}
.color-libra.active,
.color-gemini.active,
.color-aquarius.active{
  background-color: #f9b9f2;
}
.color-cancer.active,
.color-pisces.active,
.color-scorpio.active{
  background-color: #7ebdc2;
}

/* FORM */
form {
  position: absolute;
  max-height: 50px;
  overflow: inherit;
  justify-content: center;
  width: inherit;
}
.react-time-picker input,
.react-time-picker span,
.react-time-picker select
{
  color:white;
}
.text-danger
{
  color:yellow;
  padding-left: 5px;
}
#container{
  position: relative;
}
#birth-form,
#canvas, #birthchart-list{
  width: 100%;
  min-height: 180px;
}
#birth-form label{
  color:white;
}
#birth-form .form-item,
#birth-form button,
#form-p {
  width: 155px;
  margin: 0 auto;
  padding: 4px;
}
#submit-button-div{
  display: flex;
}
#birth-form button{
  width: 90px;
}
.form-item ul {
  color:white;
  background: #2B3A67;
  margin: 0;
  max-width: fit-content;
  position: absolute;
  z-index: 1;
}

/* END FORM */