body {
  background-color: #070E0A;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis';
}

#title{
  width: 100%;
  height: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis';
}
#title h1{
  color:white;
}

#button{
  width: 100px;
  font-family: 'Dosis';
  background-color: #2B3A67;
  border-color: #2B3A67;
  color: white;
  letter-spacing: 0.5px;
  border-radius: 5px;
  margin: 8px;
  padding: 4px;
}

#can {
  width:100%;
}

#panel {
  display: flex;
  justify-content: center;
}