body {
  /*background-color: #070E0A;*/
  background-color: #0d0c1d;
}

#wrapper {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis';
}

#title{
  width: 100%;
  height: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis';
}
#title h1{
  color:white;
}

#button{
  width: 100px;
  font-family: 'Dosis';
  background-color: #2B3A67;
  border-color: #2B3A67;
  color: white;
  letter-spacing: 0.5px;
  border-radius: 5px;
  margin: 8px;
  padding: 4px;
}

#can {
  width:100%;
}

#panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#birthchart-list {
  display:flex;
  justify-content: center;
  align-items: center;
}
.birthchart-table-data {
  border: 2px black solid;
  width: 150px;
  padding: 8px;
  margin: 8px;
}

/* COLORS */
.color-leo,
.color-saggitarius,
.color-aries{
  background-color: #efc9c2;
  border: 4px solid #bb4430;
}
.color-virgo,
.color-taurus,
.color-capricorn{
  background-color: #dcdcbe;
  border: 4px solid #646536;
}
.color-libra,
.color-gemini,
.color-aquarius{
  background-color: #fdebfb;
  border: 4px solid #f9b9f2;
}
.color-cancer,
.color-pisces,
.color-scorpio{
  background-color: #dbedee;
  border: 4px solid #7ebdc2;
}

.color-leo.active,
.color-saggitarius.active,
.color-aries.active{
  background-color: #bb4430;
}
.color-virgo.active,
.color-taurus.active,
.color-capricorn.active{
  background-color: #646536;
}
.color-libra.active,
.color-gemini.active,
.color-aquarius.active{
  background-color: #f9b9f2;
}
.color-cancer.active,
.color-pisces.active,
.color-scorpio.active{
  background-color: #7ebdc2;
}